.dashboard-card {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
  }
  
  .dashboard-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;

  }
  
  .dashboard-card p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .dashboard-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .dashboard-tables{
    display: flex;
    gap: 30px;
  }
  .dashboard-tables {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  
  .dashboard-top-buyers,
  .dashboard-low-stock {
    flex: 1;
    min-width: 300px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
  }

  .dashboard-tables h2{
    color:#4450A2;
    font-size: 20px;
  }
  
  .dashboard-table th,
  .dashboard-table td {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    text-transform: capitalize;
  }
  
  .dashboard-table th {
    background-color:#4450A2;
    font-weight: 600;
    color: #fff;
  }
  
  .view-more-button {
    color: #4450A2;
    border: none;
    font-size: 14px;
    background: none;
  }
  
  .view-more-button:hover {
    color: #4450A2;
  }
  