.latest-product-price{
    margin: 0;
}

.latest-product-div{
    position: relative;
}

.full-page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}