.top-nav {
    background: #4450A2;
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo {
    width: 150px;
    height: 50px;
    max-height: 90px;
    flex-shrink: 0;
    margin-left: 41px;
}
.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
}
.search-bar {
    display: flex;
    align-items: center;
    height: 52px;
    border-radius: 20px;
    border: 1px solid #B8B8B8;
    box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.25);
    width: 50%;
    max-width: 720px;
    margin-left: 71px;
    padding: 0 10px;
}
.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
    background: transparent;
    color: #fff;
    font-size: 20px;
}
.search-input::placeholder {
    color: #fff;
    font-size: 18px;
}
.search-icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}
.notification-icon,
.profile-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 60px;
}
.search-button {
    background: none;
    border: none;
}
.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}
.profile-icon {
    font-size: 32px;
    color: white;
    cursor: pointer;
}
.profile-dropdown {
    position: absolute;
    top: 50px;
    right: 17%;
    transform: translateX(50%); 
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
    text-align: center;
}
.profile-dropdown .dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    color: #4450A2;
    font-weight: bold;
   margin-bottom: auto;
}

.profile-dropdown .logout-button {
    border: none;
    background: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.profile-dropdown .logout-button:hover {
    background: #f8f8f8;
}
.refresh-button {
    color: white;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

