.sidemenu {
  display: flex;
  width: 250px;  
  padding: 44px 40px 79px 39px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  transition: width 0.3s ease-in-out; 

}
.sidemenu-item {
  height: 27px;
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  margin-top: 10px;
}
.sidemenu-label {
  color: #4F4892;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s ease-in-out;
}
.main-layout {
  display: flex;
}

.side-menu-container {
    position: fixed;
    top: 80px;
    left: 0;
    width: 250px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    border-right: 2px solid #4450A2;
    background: #fff;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.sidemenu {
  width: 100%;
  padding: 15px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.line {
  width: 1px;
  background-color: #4450A2;
  border: 1px #4450A2 solid
}
.sidemenu-item.logout-link {
  font-size: 28px;
  border: none;
  background: none;
  padding: none;
  color: #4F4892;
}
.sidemenu-item img {
  width: 24px;  
  height: 24px;
  object-fit: contain;
  color: #4F4892;
  
  
}

.sidemenu-img{
  color: #4F4892;
  font-size: 24px;
}
.toggle-button {
  display: none; 
}

@media (max-width: 1024px) {
  .side-menu-container {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .side-menu-container {
    width: 80px; 
    overflow: hidden;
  }

  .sidemenu-label {
    display: none; 
  }

  .sidemenu {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .side-menu-container {
    width: 60px;
  }

  .sidemenu-item {
    justify-content: center;
  }
}
.toggle-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .toggle-button {
      display: flex;
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 24px;
      cursor: pointer;
  }
}

.dashboard {
  margin-top: 10px; 
}
