.text-style{
    text-transform: none;
}
.ratings-image{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
 .discount-header {
    display: flex;
    gap: 0.75rem;
  }
  .rating-button {
    padding: 6px 12px;
    background-color: #4450A2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .cart-place-order-average-btn {
    width: 196px;
    border-radius: 20px;
    border: none;
    color: white;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color:#4450A2;

}