.text-style{
    text-transform: none !important;
}
.ratings-image{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
 .discount-header {
    display: flex;
    gap: 0.75rem;

  }

 .admin-rating-buttons{
    right: 15px;
    position: absolute;
  
  }
  .rating-button {
    padding: 6px 12px;
    background-color: #4450A2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .cart-place-order-average-btn {
    width: 196px;
    border-radius: 20px;
    border: none;
    color: white;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color:#4450A2;

}

.full-page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}

.first-button,
.last-button {
  background-color: #4450A2;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.first-button:hover,
.last-button:hover {
  background-color: #2e3a7e;
}

.first-button:disabled,
.last-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}


.pagination-container span {
  font-size: 14px;
  font-weight: 600;
  color: #4450A2;
  margin: 0 15px;
}