.all-products-container {
  display: flex;
  background-color: #f9f9f9;
  min-height: 100vh;
}
.all-products-section {
  flex: 1;
  padding: 5px;
  margin-top: 5px;
}
.all-products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.all-product-item {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  max-height: 212px;
}
.all-product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}
.all-product-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.all-product-name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin: 0;
  color: #4450A2;
}
.all-product-price {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}
.all-product-availability {
  font-size: 12px;
  color: #888;
  margin: 0;
}
.all-product-availability .availability.in-stock,
.all-product-availability .availability.out-of-stock,
.all-product-availability .availability.few-left {
  font-size: 12px;
}
.all-add-to-cart-btn {
  margin-top: 12px;
  padding: 8px 12px;
  background-color: #ff3f6c;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}
.all-add-to-cart-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.all-price-range {
  font-weight: 500;
  margin-bottom: 15px;
}
.all-product-discount {
  font-size: 10px;
  color: grey;
}
.all-discount-tag {
  color: #fd933b;
  text-decoration: none;
}
.all-product-discount-price {
  text-decoration: line-through;
}
.invisible-discount,
.invisible-price {
  visibility: hidden;
}
@media (min-width: 768px) {
  .all-products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .all-products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}